
@{
    ViewBag.Title = "按钮式下拉菜单";
}

<h2>按钮式下拉菜单</h2>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>

    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        下拉菜单
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">第一个</a></li>
        <li><a href="#">第二个</a></li>
        <li><a href="#">第三个</a></li>
    </ul>
</div>