
@{
    ViewBag.Title = "下拉菜单";
}

<h2>下拉菜单</h2>
<div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        线路
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="presentation" class="dropdown-header">地铁</li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">一号线</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">二号线</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">三号线</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">四号线</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">五号线</a></li>
    </ul>
</div>

