
@{
    ViewBag.Title = "字体图标";
}

<h2>字体图标</h2>

<span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
<button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
</button>