
@{
    ViewBag.Title = "DateTime";
}
@section scripts{
   <script src="~/Areas/JavaScript/Scripts/Home/DateTime.js"></script>
}
<h2>DateTime</h2>
<input type="button" value="显示时间" onclick="getDate();"/>
<div id="clock"></div>