
@{
    ViewBag.Title = "GetElement";
}
@section scripts{
<script src="~/Areas/JavaScript/Scripts/Home/ergodic.js"></script>
}
<h2>GetElement</h2>

<div>
    <span>使用javascript遍历DOM元素</span><input type="button" value="开始遍历" id="btnErgodic" onclick="getElement(document.getElementsByTagName('html'));"/>
    <a href="http://www.baidu.com">百度一下</a>
</div>