
@{
    ViewBag.Title = "Slide";
}
@section scripts{
    <script src="~/Areas/JavaScript/Scripts/Home/Slide.js"></script>
}
<h2>Slide</h2>
<div align="center">
    <img src="~/Areas/JavaScript/Content/Images/1.jpg" width="500" height="500" id="slidepic"/><hr />
    <input type="button" value="上一张" onclick="previous();" />
    <input type="button" value="下一张" onclick="next();" />
</div>