
@{
    ViewBag.Title = "Index";
}

<h2>数据结构和算法</h2>

<ol>
    <li>
        算法的评价指标
    </li>
    <li>
        线性表
        <ol>
            <li>
                顺序表(数组Array,动态数组ArrayList,List)
                <ol>
                    <li>
                        推荐使用List，因为ArrayList存储的是Object类型，有一个装箱和拆箱过程
                    </li>
                </ol>
            </li>
            <li>
                链表（单向，双向，循环）
            </li>
            <li>
                类型安全
            </li>
            <li>
                探讨.net Framwork底层线性表的实现方式
                <ol>
                    <li>
                        趣味算法：面积问题
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        栈和队列
        <ol>
            <li>
                队列的基本用法
            </li>
            <li>
                分析微软底层队列和栈的实现方法
                <ol>
                    <li>
                        趣味算法：返回不重复数的实现
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        串
        <ol>
            <li>
                string的基本用法
            </li>
            <li>
                SringBulder
            </li>
            <li>
                串模式匹配
                <ol>
                    <li>
                        Brute-Force算法
                    </li>
                    <li>
                        KMP算法
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>