
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>存储过程学习</p>

<ol>
    <li>@Html.ActionLink("语法", "Grammer", "Home", new { Area = "StoredProcedure" }, htmlAttributes: new { id = "grammerLink" })</li>
</ol>