@{
    ViewBag.Title = "排版";
}
<h1>排版</h1>
<h6>这是H6标签<small>这是副标题</small></h6>
<h5>这是H5标签<small>这是副标题</small></h5>
<h4>这是H4标签<small>这是副标题</small></h4>
<h3>这是H3标签<small>这是副标题</small></h3>
<h2>这是H2标签<small>这是副标题</small></h2>
<h1>这是H1标签<small>这是副标题</small></h1>
<p>
    欢迎来到极客学院，<ins>希望你通过</ins>希望你通过<u>本套课程</u>本套课程和BootStrap中文网学到得到更好的学习路径<br>
    欢迎来到极客学院，希望你通过本套课程和BootStrap中文网学到得到更好的学习路径
</p>
<p class="lead">
    欢迎来到<mark>极客学院</mark>，希望你<del>通过</del>通过<s>本套课程</s>和<ins>BootStrap</ins>中文网<u>学到得到</u>学到得到更好的学习路径
</p>
<p class="lead">
    欢迎来到<mark>极客学院</mark>，希望你<del>通过</del>通过<s>本套课程</s>和<ins>BootStrap</ins>中文网<u>学到得到</u>学到<small>得到更好的学习路径</small>得到更好的学习路径
</p>
<p class="lead">
    欢迎来到极客学院，<ins>希望你通过</ins>希望你通过<u>本套课程</u>本套课程和BootStrap中文网学到得到更好的学习路径<br>
    <strong><em>欢迎来到极客学院，希望你通过本套课程和BootStrap中文网学到得到更好的学习路径</em></strong>
</p>
<p class="text-left">Left aligned text.</p>
<p class="text-center">Center aligned text.</p>
<p class="text-right">Right aligned text.</p>
<p class="text-justify">Justified text.</p>
<p class="text-nowrap">No wrap text.</p>
<p class="text-left">文字居左</p>
<p class="text-right">文字居右</p>
<p class="text-center">文字剧中</p>
<p class="text-justify">文字证明</p>
<p class="text-nowrap">文字不换行</p>
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercase Text.</p>
<p class="text-capitalize">capitalize text.首字母大写</p>
<abbr title="attribute">attr</abbr>
<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
<address>
    <strong>Twitter, Inc.</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
    <strong>杨卫</strong><br>
    <a href="mailto:1042744766@qq.com">1042744766@qq.com</a>
</address>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<blockquote>
    <p>文章来自：来自星星的你</p>
</blockquote>
<blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
