
@{
    ViewBag.Title = "图片";
}

<h2>图片</h2>

<img src="~/Images/4.jpg" class="img-responsive img-circle" alt="这是一张美女图片"/>
<img src="~/Images/1.jpg" class="img-responsive img-circle" alt="响应式+圆圈显示"/>
<img src="~/Images/3.jpg" class="img-rounded" alt="圆角"/>
<img src="~/Images/2.jpg" class="img-thumbnail" alt="边框"/>