
@{
    ViewBag.Title = "AttributeSelector";
}
@section styles{
    <link href="~/Areas/JQuery/Content/Home/AttributeSelector.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/JQuery/Scripts/Home/AttributeSelector.js"></script>
}
<h2>AttributeSelector</h2>

<input type="text" />
<input type="text" />
<input type="text" />
<input type="text" />
<input type="text" />
<hr />
<a href="www.baidu.com">百度一下</a>
<a href="www.hao123.com">hao123</a>
<a href="http://www.baidu.com/">百度一下</a>
<hr />
<input value="file input" type="file"/><br />
<input value="text input" type="text" />
<hr />
<textarea rows="5" cols="20"></textarea>
<hr />
<input type="radio" value="redio" name="btnredio" checked="checked"/>rediobutton
<input type="radio" value="redio" name="btnredio" />rediobutton
<input type="radio" value="redio" name="btnredio" />rediobutton<br />
<input type="checkbox" value="redio" name="btnredio" checked="checked" />checkbox
<input type="checkbox" value="redio" name="btnredio" checked="checked" />checkbox
<input type="checkbox" value="redio" name="btnredio" checked="checked" />checkbox
<input type="checkbox" value="redio" name="btnredio" />checkbox
<hr />
<input type="text" disabled="disabled"/>
<input type="text" disabled="disabled" />
<input type="text" disabled="disabled" />
<input type="text" disabled="disabled" />