
@{
    ViewBag.Title = "BaseSelector";
}
@section styles{
    <link href="~/Areas/JQuery/Content/Home/BaseSelector.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/JQuery/Scripts/Home/BaseSelector.js"></script>
}
<h2>BaseSelector</h2>

<ol>
    <li><a href="#">超链接1</a></li>
    <li><a href="#">超链接2</a></li>
    <li id="li3"><a href="#">超链接3</a></li>
    <li><a href="#" class="astyle">超链接4</a></li>
    <li><a href="#">超链接5</a></li>
    <li><a href="#">超链接6</a></li>
    <li><a href="#" class="astyle">超链接7</a></li>
    <li><a href="#">超链接8</a></li>
    <li><a href="#" id="a9">超链接9</a></li>
    <li><a href="#" class="bstyle">超链接10</a></li>
</ol>