
@{
    ViewBag.Title = "BaseGrammer";
}
@section styles{
    <link href="~/Areas/JQuery/Content/Home/BaseInit.css" rel="stylesheet" />
}
@section scripts{

    <script src="~/Areas/JQuery/Scripts/Home/BaseInit.js"></script>
}
<h2>BaseGrammer</h2>

<a href="www.baidu.com" style="border:10px solid red;">百度一下</a>
<a href="www.baidu.com" style="border:10px solid red;">百度一下</a>
<a href="www.baidu.com" style="border:10px solid red;">百度一下</a>
<a href="www.baidu.com" style="border:10px solid red;">百度一下</a>
<a href="www.baidu.com" style="border:10px solid red;">百度一下</a>

<a href="www.baidu.com">百度一下</a>
<a href="www.baidu.com">百度一下</a>
<a href="www.baidu.com">百度一下</a>
<a href="www.baidu.com">百度一下</a>
<a href="www.baidu.com">百度一下</a>