
@{
    ViewBag.Title = "PositionSelector";
}
@section styles{
    <link href="~/Areas/JQuery/Content/Home/PositionSelector.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/JQuery/Scripts/Home/PositionSelector.js"></script>
}
<h2>PositionSelector</h2>

<ol>
    <li>这是一个li标签</li>
    <li>这是一个li标签</li>
    <li>这是一个li标签</li>
    <li>这是一个li标签</li>
    <li>这是一个li标签</li>
</ol>
<div class="mydiv">

</div>
<div class="mydiv">

</div>
<div class="mydiv">

</div>