
@{
    ViewBag.Title = "Grammer";
}

<h2>Grammer</h2>

<ol>
    <li>
        HTML标记语言
        <ol>
            <li>
                表示网页信息的符号标记语言
                <ol>
                    <li>可以设置文本格式、比如符号、字符、文本颜色、段落等</li>
                    <li>可以创建列表</li>
                    <li>可以插入图像和媒体</li>
                    <li>可以建立表格</li>
                    <li>超链接，可以使用鼠标点击超链接来实现页面间的跳转</li>
                </ol>
            </li>
            <li>
                html标记和它的属性
                <ol>
                    <li>
                        html文档的保存格式
                        <ol>
                            <li>.html</li>
                            <li>.htm</li>
                            <li>.xhtml</li>
                        </ol>
                    </li>
                    <li>
                        标记和被标记的内容构建html文档
                        <ol>
                            <li>标记</li>
                            <li>内容</li>
                            <li>标记</li>
                        </ol>
                    </li>
                    <li>
                        标记的属性
                        <ol>
                            <li>标记的属性，就是用来控制我们的内容如何显示</li>
                            <li>格式：<pre><标记 属性="属性值1" 属性2="属性值2" ...></ 标记></pre></li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>语法不区分大小写</li>
            <li>文档注释,使用<pre>< !--进行文档注释--></pre></li>
            <li>
                代码格式可是使用回车键进行编排<pre>无论采用进行多少个回车和空格，html都会当一个空格来处理，查看源代码会和编辑器里面一样。</pre>
                <ol>
                    <li>注意，保持严格的排版，使用"tab"保持缩进。</li>
                </ol>
            </li>
            <li>
                字符实体
                <ol>
                    <li>
                        什么是字符实体？
                        <ol>
                            <li>比如我们想在网页上显示一个"<"符号，当是在"<"中在html中是文档标记的开始语言，所以，如果我们直接使用"<"会出差错，所一我们会使用一些实体名称来代替。</li>
                        </ol>
                    </li>
                    <li>
                        常见的字符实体
                        <ol>
                            <li>(&nbsp;)------空格-------& nbsp ;------& #160;</li>
                            <li>( < )------小于-------& lt ;------& #60;</li>
                            <li>( > )------大于-------& gt ;------& #62;</li>
                            <li>( & )------和号-------& amp ;------& #38;</li>
                            <li>( " )------引号-------& quot ;------& #34;</li>
                            <li>( ' )------撇号-------& apos ;(IE不支持)------& #39;</li>
                            <li>( ￠)------分号-------& cent ;------& #162;</li>
                            <li>( £ )------磅-------& pound ;------& #163;</li>
                            <li>( ¥ )------日元-------& yen ;------& #165;</li>
                            <li>( €)------欧元-------& euro ;------& #8364;</li>
                            <li>( §)------小节-------& sect ;------& #167;</li>
                            <li>( © )------版权-------& copy ;------& #169;</li>
                            <li>( ® )------注册商标-------& reg ;------& #174;</li>
                            <li>( ™ )------商标-------& trade ;------& #8482;</li>
                            <li>( ×)------乘号-------& times ;------& #215;</li>
                            <li>( ÷)------除号-------& divide ;------& #247;</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        Html基本标签
        <ol>
            <li>
                &nbsp;html
                <ol>
                    <li>解释：html的文档标志，也称为Html开始标记</li>
                    <li>功能：位于网页的最前端和最后端</li>
                    <li>注意：</li>
                </ol>
            </li>
            <li>
                head
                <ol>
                    <li>解释：html的文件头标记，也称html头信息开始标记</li>
                    <li>功能：用来包含文件的基本信息，比如网页的标题，关键字，中间可以放title、meta、style等标记</li>
                    <li>注意：head中的内容不会再浏览器中显示</li>
                </ol>
            </li>
            <li>
                title
                <ol>
                    <li>解释：html文件标题标记</li>
                    <li>功能：网页的"主题"，显示在浏览器的左上方</li>
                    <li>注意：网页的标题不能太长，要短小精悍，能具体访问页面的内容，title不能包含其他标记</li>
                </ol>
            </li>
            <li>
                body
                <ol>
                    <li>解释：html文档的主体标记</li>
                    <li>功能：body是网页的主体部分，在此标记之间可以包含如：p,h1,br等等标记</li>
                    <li>
                        body标记的常见属性
                        <ol>
                            <li>bgcolor:设置背景颜色</li>
                            <li>text:设置文本颜色</li>
                            <li>link:设置链接颜色</li>
                            <li>vlink:已经访问过的链接颜色</li>
                            <li>alink:正在被点击的链接颜色</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                meta
                <ol>
                    <li>解释：页面的元信息(meta-information)</li>
                    <li>功能：提供有关页面的元信息(meta-information)，比如针对搜索引擎和跟新频度的描述和关键词</li>
                    <li>
                        必须的属性：
                        <ol>
                            <li>
                                常用的name属性：
                                <ol>
                                    <li>author</li>
                                    <li>keywords</li>
                                    <li>description</li>
                                    <li>others</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>meta元素必须放在head里面</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        Html的文档设置标记上(格式标记)
        <ol>
            <li>br：强制换行标记，让后面的文字、图片、表格等，显示在下一行</li>
            <li>p：换段落标记，由于多个空格和回车在html中会被等效成一个空格，所以html中要换段落要用p</li>
            <li>center:居中对齐标记，让段落或者是文字相对于父标记居中显示</li>
            <li>pre:预格式化标记，保留预先排好的格式</li>
            <li>li：列表项标记</li>
            <li>ul：无序列标记</li>
            <li>ol：有序列标记，可以显示特定的顺序
                  <ol>
                      <li>格式：< ol>< li>< /li>< li>< /li>< li>< /li>... < /ol></li>
                      <li>有序列表的type属性值：
                           <ol>
                               <li>1:阿拉伯数字1、2、3、4...等，默认的type属性</li>
                               <li>A:大写字母A、B、C、D...</li>
                               <li>a:小写字母a、b、c、d...</li>
                               <li>I:大写罗马数字I、II、III...</li>
                               <li>i:小写罗马数字i、ii、iii...</li>
                           </ol>
                      </li>
                      <li>value：指定序列的起始值</li>
                      <li>可以嵌套使用</li>
                  </ol>
            </li>
            <li>dl\dt\dd：定义型列表
                 <ol>
                     <li>使用场合：对列表的条目进行简单的说明</li>
                     <li>格式</li>
                 </ol>
            </li>
            <li>hr：水平分割线标记</li>
            <li>div：分区显示标记，也称为层标记
                <ol>
                    <li>常用来编排一大段的HTML段落，也可以用户格式表，和p很相似</li>
                    <li>层可以多层嵌套使用</li>
                </ol>
            </li>
        </ol>
    </li>
    <li>Html的文档设置标记下(文本标记)
        <ol>
            <li>
                hn:标题标记，共有列个级别，n可以等于1、2、3、4、5、6。其中1最大，6最小
            </li>
            <li>font:字体设置标记
                 <ol>
                     <li>size:字体大小，xhtml不支持size属性</li>
                     <li>color:颜色</li>
                     <li>face:字体</li>
                 </ol>
            </li>
            <li>b:粗字体标记</li>
            <li>i:斜字体标记</li>
            <li>sub:文字下标字体标记</li>
            <li>sup:文字上标字体标记</li>
            <li>tt:打印机标记</li>
            <li>cite:引用方式的字体，通常是斜体</li>
            <li>em:表示强调，通常为斜体字</li>
            <li>strong:表示强调，通常为粗体字</li>
            <li>small:小型字体标记</li>
            <li>big:大型字体标记</li>
            <li>u:下划线字体标记</li>
        </ol>
    </li>
    <li>
        html图像标志
        <ol>
            <li>使用方法：img src="路径/文件名.文件格式" width="属性值" heigth="属性值" border="属性值" alt="属性值"</li>
            <li>注意：
                  <ol>
                      <li>
                          img为单标记，不需要写闭合标记
                      </li>
                      <li>

                      </li>
                  </ol>
            </li>
            <li>img标记的属性
               <ol>
                   <li>src属性</li>
                   <li>width属性</li>
                   <li>heigth属性</li>
                   <li>border属性</li>
                   <li>alt属性</li>
               </ol>
            </li>
        </ol>
    </li>
</ol>